 <!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .subtotal-bottom-fix .subtotalsss {
        display: flex;
        justify-content: space-between;  /* Aligns children (label and price) on opposite ends */
        align-items: center;            /* Centers children vertically */
        width: 100%;
        color:black/* Optional: ensures the div takes full width */
    }
    .subtotalsss{
        color:white
    }
   
    span.close-button {
        align-items: l;
        margin-left: 11%;
        /* margin-left: 170px;   */
       
        text-decoration: underline;
        font-weight: bold !important;
    }
    span.order-summary {
        font-weight: bold;
        /* text-decoration: underline; */
    }
    .minicart-items .product-item-details {
        padding-left: 45px;
        /* padding-left: 102%; */
    }
    .actions {
        align-items: center;
        text-align: center;
    }
    /*
    .action.primary, .action-primary {
         
        border: 1px solid #ff5501;
        color: #ffffff;
         
        background-color: #ff5501;
        font-size: 20px !important;
        /* font-weight: bold; */
   
   
        button#top-cart-btn-checkout {
        background-color: #ff5501;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid;
        margin-left: 14px;
        padding: 15px 50px;
        margin-top: 10px;
    }
     
    input#cart-item-15-qty {
        /* margin-top: -26px; */
        /* position: absolute; */
        /* margin-left: 25px; */
        /* padding: 10px; */
        width: 35px !important;
        border: 1px solid;
        /* position: relative; */
         
        height: 26px !important;
        padding-top: 8px;
    }
    .minicart-items .item-qty {
        text-align: center;
        width: 35px !important;
     
    }
    input[type="number"]{
        height: 25px;
        padding-top: 7px;
    }
    .more {
        border: 1px solid #9b9696;
    border-radius: 0px 7px 7px 0px;
    width: 15px;
    padding: 4px;
    background-color: #ebebeb;
    /* position: absolute; */
    height: 16px;
    /* margin-left: 0px; */
    padding-left: 9px;
}
   
    .less {
         
 
    border: 1px solid #9b9696;
    border-radius: 7px 0px 0px 7px;
    width: 15px;
    padding: 4px;
    background-color:#ebebeb;
    /* position: absolute; */
    height: 16px;
    /* margin-left: 0px; */
    padding-left: 12px;
         
    }
    .secondary-button {
        margin-left: 95px;
        /* position: fixed; */
        /* position: revert; */
        /* float: right !important; */
        margin-top: 1px;
    }
    .minicart-items .product-item-details .details-qty {
        margin-top: 10px;
        display: flex;
    }
    .subtotalsss {
        font-weight: bold;
        margin-top: 20px;
    }
   
    button#update-cart-item-20 {
        font-size: 13px;
    }
   
    /* produc add minicart */
    .products-short {
        /* float: none; */
        /* display: flex; */
        margin-left: -564px;
        background-color: #FFF;
        padding-left: -231px;
        position: absolute;
        padding: 20px;
        margin-top: -26px;
         height: 620px;
        border: 1px solid #ccc;
        overflow-y: scroll;
   
    }
    .product {
        display: flex;
    }
    .product-title-wrapper {
        font-weight: bold;
        margin-left: 15px;
        line-height: 25px;
    }
    button.btn-product {
        border-radius: 5px;
        /* padding: 4px 10px !important; */
        border: 1px solid;
        margin-left: 19px;
        /* margin-top: -30px; */
        /* position: relative; */
        font-size: 13px;
        background-color: #fff0;
        color: #000;
    }
    .product-description {
        margin-left: 15px;
        font-size: 16px;
         color: #9b9696;
         margin-bottom: 15px;
         margin-top: 11px;
         font-family: math;
        }
    .product-price {
        /* margin-left: 15px;
        margin-top: 7px; */
        line-height: 25px;
        font-weight: 900;
        margin: 11px 15px;;
    }
   
    button.button-add {
        padding: 8px 20px !important;
        font-size: 14px;
        margin-left: 13px;
        font-weight: 900;
    }
   
    .bt-m {
        margin-left: 15px;
        margin-top: 6px;
    }
    .product-mini {
        display: flex;
        /* margin-bottom: 60px; */
        border-bottom: 1px solid #ccc;
        padding-bottom: 25px;
        margin-top: 35px;
    }
    span.text {
        font-weight: bold;
    }
   
    .block-minicart .amount .price-wrapper:first-child .price {
        font-size: 14px !important;
        font-weight: 700;
        margin-right: 28px;
    }
   
    .product-image {
         
        width: 80px;
    }
    .view-mini {
        padding: 12px;
        font-family: math !important;
        font-weight: 900;
        font-size: 18px !important;
    }
    .minicart-wrapper .block-minicart {
                right: -3px;
                width: 373px;
            }
   
            .subtotalsss {
        /* margin: 20px; */
        margin-left: 20px;
       
    }
    span.order-summary{
        width: 122px;
    }
    .minicart-items-wrapper {
        border: 1px solid #cccccc;
        margin: 0 5px;
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        overflow-y: scroll;
        height: 320px !important;
        padding: 15px;
    }
   
    .minicart-items .product-item-name a {
        color: #000000;
        font-weight: bold;
    }
    span.product-item-sku {
        color: #948f8f;
    }
    .minicart-items .product-item-name {
        font-weight: 400;
        margin: 0 0 2px;
    }
   
    a:visited, .alink:visited {
        color: #000000;
        text-decoration: underline;
    }
    .block-minicart .items-total {
   
    margin-bottom: 10px;
}
 
.subtotal-bottom-fix {
    margin-top: 10px;
}
a, .alink {
    color: #000000;
    text-decoration: underline;
}
.minicart-items-wrapper {
   
    border-top: 1px solid #cccccc !important;
}
.view-cart-bottom {
    border-bottom: 1px solid #c6c3c3 !important;
}
a.action.delete{
    margin-left: 20px;
}
@media only screen and (max-width: 479px){
    .minicart-items-wrapper {
        height: 150px !important;}
}
@media only screen and (max-width: 479px)
{
    a.action.delete {
    margin-top: -40px;
    position: absolute;
}
}
 
@media only screen and (max-width: 479px) {
 
    .products-short {
    /* float: none; */
    /* display: flex; */
    margin-left: -21px;
    background-color: #FFF;
    padding-left: -231px;
    position: absolute;
    padding: 15px;
    margin-top: 393px;
    border: 1px solid #ccc;
    font-size: 18px !important;
}
}
 
@media only screen and (max-width: 767px) {
 
    .minicart-wrapper .product .actions {
        margin-top: -28px;
        margin-left: 20px;
}
.minicart-items .action.delete {
    display: contents;
}
 
}
.minicart-items .update-cart-item {
    font-size: 11;
    margin-left: 5px;
    vertical-align: top;
    font-size: 11px;
}
.items-total {
    display: flex;
        width: 310px;
    justify-content: space-between;
}
.seller-btn{
    /* padding: 3% !important; */
    font-weight: 700;
}
.fa{
    font-size: 15px;
}
a {
    font-weight: 700;
}
div#ui-id-1{
    font-size: 17px !important;
    height: 662px !important;
}
.product-cta{
    display: flex;
}
/* Custom Scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounding the corners */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounding the corners */
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}
 
/* Firefox scrollbar styling (only available in newer versions) */
* {
    scrollbar-width: thin; /* Make the scrollbar thinner */
    scrollbar-color: #888 #f1f1f1; /* Color of the scrollbar handle and track */
}
 
/* For Internet Explorer and Edge */
body {
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hiding scrollbar */
}
 
 
    </style>
    <!-- <div class="block-title">
        <strong>
            <span class="text" translate="'My Cart'"></span>
            <span
                class="qty empty"
                text="getCartParam('summary_count')"
                data-bind="css: { empty: !!getCartParam('summary_count') == false },
                           attr: { title: $t('Items in Cart') }">
            </span>
        </strong>
    </div> -->
   
    <div class="block-content">
        <button type="button"
                id="btn-minicart-close"
                class="action close"
                data-action="close"
                data-bind="
                    attr: {
                        title: $t('Close')
                    },
                    click: closeMinicart()
                ">
            <span translate="'Close'"></span>
        </button>
        <div class="block-wrapper">
            <if args="getCartParam('summary_count')">
            <div class="block-content">
                <div class="block-title">
                    <strong>
                        <span class="text" data-bind="i18n: 'Shopping Cart'">The perfect addition to your new shark</span>
                    </strong>
                </div>
                <div class="products-short">
                    <span class="text">The perfect addition to your new shark</span>
                    <div class="product-mini">
                        <div class="product-image">
                            <img src="https://placehold.co/100x150" alt="">
                        </div>
                        <div class="product-content">
                            <div class="product-title-wrapper">
                                <div class="product-title">Shark Spare Filter Kit <button class="btn-product seller-btn"><i class="fa fa-tag"></i> Best Seller</button>
                                </div>
                             </div>
                            <div class="product-description">simply dummy text of the printing and typesetting industry.</div>
                            <div class="product-price">1000</div>
                            <div class="product-cta">
                                <button class="button-add">Add to cart</button>
                                <div class="bt-m"><a href="">More Info</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="product-mini">
                        <div class="product-image">
                            <img src="https://placehold.co/100x150" alt="">
                        </div>
                        <div class="product-content">
                            <div class="product-title-wrapper">
                                <div class="product-title">Shark Spare Filter Kit </div>
                             </div>
                            <div class="product-description">simply dummy text of the printing and typesetting industry.</div>
                            <div class="product-price">1000</div>
                            <div class="product-cta">
                                <button class="button-add">Add to cart</button>
                                <div class="bt-m"><a href="">More Info</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="product-mini">
                        <div class="product-image">
                            <img src="https://placehold.co/100x150" alt="">
                        </div>
                        <div class="product-content">
                            <div class="product-title-wrapper">
                                <div class="product-title">Shark Spare Filter Kit </div>
                             </div>
                            <div class="product-description">simply dummy text of the printing and typesetting industry.</div>
                            <div class="product-price">1000</div>
                            <div class="product-cta">
                                <button class="button-add">Add to cart</button>
                                <div class="bt-m"><a href="">More Info</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="product-mini">
                        <div class="product-image">
                            <img src="https://placehold.co/100x150" alt="">
                        </div>
                        <div class="product-content">
                            <div class="product-title-wrapper">
                                <div class="product-title">Shark Spare Filter Kit </div>
                             </div>
                            <div class="product-description">simply dummy text of the printing and typesetting industry.</div>
                            <div class="product-price">1000</div>
                            <div class="product-cta">
                                <button class="button-add">Add to cart</button>
                                <div class="bt-m"><a href="">More Info</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="product-mini">
                        <div class="product-image">
                            <img src="https://placehold.co/100x150" alt="">
                        </div>
                        <div class="product-content">
                            <div class="product-title-wrapper">
                                <div class="product-title">Shark Spare Filter Kit  </button>
                                </div>
                             </div>
                            <div class="product-description">simply dummy text of the printing and typesetting industry.</div>
                            <div class="product-price">1000</div>
                            <div class="product-cta">
                                <button class="button-add">Add to cart</button>
                                <div class="bt-m"><a href="">More Info</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </if>  
        </div>
        <if args="getCartParam('summary_count')">
            <div class="items-total">
                <span class="count" if="maxItemsToDisplay < getCartLineItemsCount()" text="maxItemsToDisplay"></span>
                <translate args="'of'" if="maxItemsToDisplay < getCartLineItemsCount()"></translate>
                <!-- <span class="count" text="getCartParam('summary_count').toLocaleString(window.LOCALE)"></span> -->
                    <!-- ko if: (getCartParam('summary_count') > 1) -->
                        <!-- <span translate="'Items in Cart'"></span> -->
                    <!--/ko-->
                        <span class="order-summary" translate="'Order Summary'"></span>
                        <span class="close-button" translate="'Close'"></span>
            </div>
   
            <!-- <each args="getRegion('subtotalContainer')" render=""></each> -->
            <each args="getRegion('extraInfo')" render=""></each>
   
        </if>
   
        <if args="getCartParam('summary_count')">
            <strong class="subtitle" translate="'Recently added item(s)'"></strong>
            <div data-action="scroll" class="minicart-items-wrapper" style="overflow-y: scroll;">
                <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                    <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                          render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"></each>
                </ol>
                <ifnot args="getCartParam('summary_count')">
                    <strong class="subtitle empty"
                            translate="'You have no items in your shopping cart.'"></strong>
                    <if args="getCartParam('cart_empty_message')">
                        <p class="minicart empty text" text="getCartParam('cart_empty_message')"></p>
                        <div class="actions">
                            <div class="secondary">
                                <a class="action viewcart" style="color: darkgray" data-bind="attr: {href: shoppingCartUrl}">
                                    <span translate="'View Cart'"></span>
                                </a>
                            </div>
                        </div>
                    </if>
                </ifnot>
            </div>
        <div class="actions view-cart-bottom" if="getCartParam('summary_count')">
            <div class="secondary">
                    <div class="view-mini">
                <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                    <span translate="'View Cart'"></span>
                </a></div>
            </div>
        </div>
        <div class="subtotal-bottom-fix">
            <each args="getRegion('subtotalContainer')" render=""></each>
        </div>
        <div id="minicart-widgets" class="minicart-widgets" if="regionHasElements('promotion')">
            <each args="getRegion('promotion')" render=""></each>
        </div>
        <div class="actions" if="getCartParam('possible_onepage_checkout')">
            <div class="primary">
                <button
                        id="top-cart-btn-checkout"
                        type="button"
                        class="action primary checkout"
                        data-action="close"
                        data-bind="
                            attr: {
                                title: $t('Go to Checkout')
                            },
                            click: closeMinicart()
                        "
                        translate="'Go to Checkout'">
                </button>
                <div data-bind="html: getCartParamUnsanitizedHtml('extra_actions')"></div>
            </div>
        </div>
    </if>
    </div>
    <each args="getRegion('sign-in-popup')" render=""></each>